<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.min.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.min.js"></script>
    <title><%= title %></title>
</head>