<div class="communities-list">
    <ul class="list-content-with-icon-and-text arrow-list" id="news-list-content">
        <li>
            <a href="/users/LonglivetheEU" data-pjax="#body" class="icon-container notify">
                <img src="https://mii.olv.pretendo.cc/mii/1337825003/normal_face.png" class="icon">
            </a>
            <div class="body">
                <p class="text"><span class="nick-name">Shutterbug</span>
                </p>
            </div>
        </li>
        <li>
            <a href="/users/navajocookie" data-pjax="#body"
               class="icon-container notify">
                <img src="https://mii.olv.pretendo.cc/mii/1213651904/normal_face.png" class="icon">
            </a>
            <div class="body">
                <p class="text">Followed by <span class="nick-name">♪☆Peyton☆♪</span>, <span class="nick-name">Rocman X</span>,
                    and <span class="nick-name">Whissu2</span>. <span class="timestamp"> 3 minutes ago</span>
                </p>
            </div>
        </li>
    </ul>
</div>