<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DS Testing</title>
    <script src="/js/pjax.js"></script>
    <script src="/js/juxt.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
</head>
<body>
<div id="main">
    <div class="top-screen">
        <div class="header-description">
            <p>
                Here you can view posts and more from the users you follow.
            </p>
        </div>
        <div id="headers-activity-feed-icon" class="header-icon"></div>
        <h2 class="header-title"><%= lang.global.activity_feed %></h2>
    </div>
    <div class="bottom-screen">
        <div class="community-page-posts-wrapper">
            <div id="wrapper">

                <% if(posts.length === 0) {%>
                    <p class="no-posts-text"><%= lang.activity_feed.empty %></p>
                <%} else { %>
                        <button id="load-more-posts-button" data-offset="20" onclick="loadFeedPosts(this)"><%= lang.global.more %></button>
                    <% posts.forEach(function(post) { %>
                            <%- include('post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: false  }); %>
                    <% }); %>
                <%}%>
            </div>
        </div>
        <div class="toolbar-padding"></div>
    </div>
    <body onload="onStart()"></body>
</body>
</html>