<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }); %>
<body>
<div id="body">
    <header id="header" class="">
        <h1 id="page-title" class=""><%= title %></h1>
    </header>
    <div class="body-content tab2-content" id="community-post-list">
		<menu class="tab-header no-margin">
            <li id="tab-header-my-feed" class="tab-button <%if(tab === 0){ %>selected<%}%>" data-show-post-button="1">
                <a href="/feed" data-pjax-replace="1" data-sound="SE_WAVE_SELECT_TAB">
                    <span class="new-post">My Feed</span>
                </a>
            </li>
            <li id="tab-header-global-feed" class="tab-button <%if(tab === 1){ %>selected<%}%>">
                <a href="/feed/all" data-pjax-cache-container="#body" data-pjax-replace="1" data-sound="SE_WAVE_SELECT_TAB">
                    <span>Global Feed</span>
                </a>
            </li>
        </menu>
        <div class="tab-body post-list">
            <%- include('partials/' + template, { bundle }); %>
        </div>
    </div>
</div>
</body>
</html>