<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Whoops!' }); %>
<body>
<div id="body">
    <header id="header" class="">
        <h1 id="page-title" class="">User Menu</h1>
    </header>
    <div class="body-content tab2-content" id="community-post-list">
        <p>Howdy! We're not quite done here yet.</p>
        <p>Check back soon for updates!</p>
    </div>
</div>
</body>
</html>