<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DS Testing</title>
    <script src="/js/pjax.js"></script>
    <script src="/js/juxt.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
</head>
<body>
<div id="main">
    <div class="top-screen">
        <div class="header-description">
            <p>

            </p>
        </div>
        <div id="" class="header-icon"><img class="community-page-info-icon" src="<%= user.pfp_uri %>"></div>
        <h2 class="header-title"><%= user.user_id %></h2>
    </div>
    <div class="bottom-screen">
        <%if(user.profile_comment_visibility && user.profile_comment){%>
            <div class="communities-wrapper" id="popular-communities" style="margin-top: 10px">
                <p class="communities-header"><%=user.profile_comment%></p>
            </div>
        <%}%>
        <table class="community-page-table-wrapper">
            <tbody>
            <tr>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Country</h4>
                        <h4 class="community-page-table-text"><%if(user.country_visibility){%><%=user.country%><%}else {%>Private<%}%></h4>
                    </div>
                </td>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Birthday</h4>
                        <h4 class="community-page-table-text"><%if(user.birthday_visibility){%>N/A<%}else {%>Private<%}%></h4>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Game experience</h4>
                        <h4 class="community-page-table-text">
                            <%if(user.game_skill === 0) {%>
                                Beginner
                            <%} else if(user.game_skill === 1) {%>
                                Intermediate
                            <%} else if(user.game_skill === 2) {%>
                                Expert
                            <%} else {%>
                                N/A
                            <%}%>
                        </h4>
                    </div>
                </td>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Yeahs</h4>
                        <h4 class="community-page-table-text">N/A</h4>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="communities-wrapper" id="popular-communities">
            <h1 class="communities-header">Popular Places</h1>
        </div>
        <div class="communities-wrapper" id="new-communities">
            <h1 class="communities-header">New Communities</h1>
        </div>
        <div class="toolbar-padding"></div>
    </div>
<body onload="onStart()"></body>
</body>
</html>