<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.min.css">
    <script src="/js/pjax.min.js"></script>
    <script src="/js/juxt.min.js"></script>
    <title><%= title %></title>
</head>