<div id="showPost" class="overlay">
    <div class="overlay-content">
        <div id="post-window" class="post-wrapper">
            <table>
                <tbody>
                <!--Start of Main Post-->
                <tr>
                    <td class="post-close-button-wrapper">
                        <div class="post-close-button" onclick="hideOverlay()"></div>
                    </td>
                    <td>

                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>