:root {
    --background: #1B1F3B;
    --background-alt: #2a2f50;
    --text: white;
    --text-secondary: #A1A8D9;
    --btn: #673DB6;
    --btn-secondary: #333960;
    --theme: var(--btn);
    --theme-light: #A185D6;
    --text-secondary-2: #8990C1;
    --border: rgba(255, 255, 255, 0.1);
    --background-alt-alt: #383f6b;
}

button {
    cursor: pointer;
    background: var(--background-alt-alt);
    border: none;
    border-radius: 1em;
    color: var(--text);
    font-weight: bold;
    padding: 1em;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#title {
    color: var(--text);
}

#nav-bar {
    display: flex;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#fff5f5));
    list-style: none;
    user-select: none;
}

.badge {
    position: absolute;
    background: var(--btn);
    padding: 3px 8px;
    border-radius: 1em;
    color: var(--text);
    margin-left: 1.25em;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Conv_Poppins-Light', sans-serif;
    color: var(--text);
}

header {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
    flex-direction: column;
    position: fixed;
}

header > a, header > a:hover {
    text-decoration: none;
}

header .logo-link, header .logo-link svg {
    display: block;
    width: 5em;
}

header a {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0.25em 1.5em 0.25em 1em;
    border-radius: 2em;
    display: flex;
    margin: 0.1em;
}

header a:first-child {
    padding: 0.5em 1em 0.5em 1em;
}

header a:hover {
    background: var(--background-alt);
}

header > a > p {
    padding-left: 1em;
}

header > .selected {
        background: var(--background-alt);
        border-radius: 1em;
        font-weight: bold;
        color: var(--theme-light);
    }

    header > .selected > svg {
        stroke: var(--theme-light);
    }

#main {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.post-meta-wrapper {
    display: flex;
    color: var(--text);
    align-items: center;
    margin-left: 0.5em;
    height: 2em;
    margin-bottom: 0;
    font-size: small;
}

.post-meta-wrapper > h3 > a {
    text-decoration: none;
    color: var(--text);
}

.post-meta-wrapper > h3 > a:hover {
    text-decoration: underline;
}

.post-meta-wrapper > h4:last-child {
    padding-left: 0.5em;
    color: var(--text-secondary);
}

.post-user-info-wrapper {
    display: flex;
    height: 2em;
}
#wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.posts-wrapper {
    width: 600px;
    color: var(--text);
    background: var(--background-alt);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
}
.user-icon {
    width: 64px;
    height: 64px;
    border-radius: 0.5em;
    background: var(--text-secondary);
}

.user-icon.verified {
    border: solid 4px var(--btn);
    width: 60px;
    height: 60px;
}

.verified-badge {
    background: var(--btn);
    padding: 1px 5px;
    border-radius: 1em;
    color: var(--text);
    margin-left: 0.25em;
}

.painting {
    image-rendering: pixelated;
    border-radius: 1em;
    width: 100%;
}

.screenshot {
  border-radius: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.post-content {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    cursor: pointer;
}

.post-content > h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: lighter;
}

.spoiler-overlay {
  margin-left: 74px;
}
.spoiler-overlay > button {
  width: 100%;
  padding: 12px 48px;
}

.post-buttons-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    margin-left: 74px;
}

.post-buttons-wrapper > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}

.post-buttons-wrapper > span:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.25);
    border-radius: 0.75em;
}

.post-buttons-wrapper > span > h4 {
    padding-left: 0.5em;
    margin: 0;
}

#load-more-posts-button {
    width: 632px;
    margin-bottom: 1em;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -141px;
    background-color: var(--btn);
    color: var(--text);
    text-align: center;
    padding: 1em;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 4em;
    border-radius: 1em;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.community-list-wrapper {
    display: grid;
    grid-template-areas: 'icon main' 'icon footer';
    gap: 0;
    cursor: pointer;
    background: var(--background-alt);
    padding: 1em;
    width: 90%;
    border-radius: 1em;
    grid-template-columns: 111px 152px;
}
.community-list-wrapper:first-child {
}
.community-list-icon {
    width: 100px;
    height: 100px;
    grid-area: icon;
    margin-right: 1em;
    border-radius: 1em;
}
.community-list-title {
    margin: 0.5em 0 -1em 0;
}
.community-list-followers {
    margin: 0.5em 0 0 0;
}

.communities-wrapper {
  display: grid;
  max-width: 900px;
  grid-template-columns: auto auto auto;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

#new {
    margin-bottom: 1em;
}

iframe {
    width: 100%;
    height: 20em;
    border-radius: 1em;
    margin-top: 1em;
}


.notifications-list-content {
    background: var(--background-alt);
    width: 600px;
    min-height: 4em;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--btn-secondary);
    user-select: none;
    cursor: pointer;
}

.notifications-list-content:hover {
    text-decoration: none;
    background: var(--btn-secondary);
}

.notifications-list-content:first-of-type {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.notifications-list-content:last-of-type {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.unread-badge {
    padding: 0.25em;
    border-radius: 1em;
    margin: 1em;
    background-color: var(--btn);
}

.community-top {
      background: var(--background-alt);
      margin-bottom: 1em;
      padding: 1em;
      border-radius: 1em;
      width: 600px;
    }

.community-info {
  display: flex;
}
.info-boxes-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.info-boxes-wrapper > div {
  background: var(--background-alt-alt);
  /*! width: 30%; */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  flex-grow: 1;
}
.info-boxes-wrapper > div > h4:first-child {
  margin: 0.75em 0 0 0;
  color: var(--theme-light);
  font-size: small;
  font-weight: bolder;
}
.info-boxes-wrapper > div > h4:last-child {
  margin: 0.75em 0 0.75em 0;
  color: var(--text-secondary);
  font-size: small;
}

.community-title {
    padding-left: 0.5em;
}

@media screen and (max-width: 1350px) { 
    .communities-wrapper {
        max-width: 600px;
        grid-template-columns: auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width: 1000px) {
    #main {
        width: 100%;
        margin-bottom: 60px;
    }

    .posts-wrapper {
        width: 90vw;
    }
    .post-content {
        margin-top: 0.25em;
        margin-left: 2.5em;
    }
    .spoiler-overlay {
        margin-top: 0.25em;
        margin-left: 2.5em;
    }
    .user-icon {
        width: 2em;
        height: 2em;
    }

    .user-icon.verified {
        border: none;
        width: 2em;
        height: 2em;
    }
    
    .post-buttons-wrapper {
        margin-top: 0.5em;
        margin-bottom: -0.5em;
        margin-left: 2.5em;
    }
    header {
        width: 100%;
        margin: 0;
        background: var(--background);
        flex-direction: row;
        justify-content: space-evenly;
        bottom: 0;
        border-top: 1px solid var(--text-secondary);
    }
    
    header > a:first-child {
        display: none;
    }

    header > a > p {
        display: none;
    }

    header a {
        padding: 0.25em 1em 0.25em 1em;
    }
    
    header svg {
        scale: 0.75;
    }
      
    header > .selected {
        background: var(--background-alt);
        border-radius: 1em;
        font-weight: bold;
        color: var(--theme-light);
        margin: unset;
    }

    header > .selected > svg {
        stroke: var(--theme-light);
    }

    #load-more-posts-button {
        width: 95vw;
        margin-bottom: 1em;
    }

    #title {
        color: var(--text);
        width: 100vw;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--text-secondary);
        margin-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    .communities-wrapper {
        max-width: 600px;
        grid-template-columns: auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .notifications-list-content {
        width: 90vw;
        min-height: 4em;
    }
    
    community-info > .user-icon.verified {
      width: 60px;
      height: 60px;
    }

    community-info > .user-icon {
      width: 64px;
      height: 64px;
    }
    
    .community-top {
      width: 90vw;
    }
    
    .info-boxes-wrapper > div {
      width: 100%;
    }
    
    .community-info > .user-icon.verified {
      border: solid 4px var(--btn);
      width: 60px;
      height: 60px;
    }

    .community-info > .user-icon {
      width: 64px;
      height: 64px;
    }
    
}