<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
    <script src="/js/pjax.min.js"></script>
    <script src="/js/juxt.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PQ8FRNB');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TWP1Y7RCJ4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TWP1Y7RCJ4');
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ8FRNB"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<menu id="nav-bar">
    <li id="nav-bar-profile" data-pjax="/users/me"><a>User Page</a></li>
    <li id="nav-bar-activity-feed" data-pjax="/activity-feed" class="selected"><a>Activity Feed</a></li>
    <li id="nav-bar-communities" data-pjax="/communities"><a>Communities</a></li>
    <li id="nav-bar-messages" data-pjax="/messages"><a>Messages<span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-pjax="/news"><a>Notifications<span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" onclick="exit()"><a href="">Close</a></li>
</menu>
<div id="main">
    <h1 id="title" class="page-header">Activity Feed</h1>

    <div id="messages-list-wrapper"></div>
    <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
</div>
<body onload="stopLoading();wiiuBrowser.lockUserOperation(false);">
</body>
</html>