<!DOCTYPE html>
<%- include('partials/head', { title: lang.global.messages }); %>
<body>
<%- include('partials/nav_bar', { selection: 3, pid: pid }); %>
<div id="body">
    <header id="header">
        <h1 id="page-title" class="">Notifications</h1>
    </header>
    <div class="body-content tab2-content" id="news-page">
        <menu class="tab-header">
            <li id="tab-header-my-news" class="tab-button selected" data-show-post-button="1">
                <a href="/news/my_news" data-pjax-replace="1" data-pjax=".tab-body" data-sound="SE_WAVE_SELECT_TAB">
                    <span class="new-post">Updates</span>
                </a>
            </li>
            <li id="tab-header-friend-request" class="tab-button">
                <a href="/news/friend_requests" data-pjax=".tab-body" data-pjax-cache-container="#body" data-pjax-replace="1" data-sound="SE_WAVE_SELECT_TAB">
                    <span>Friend Requests</span>
                </a>
            </li>
        </menu>
        <div class="tab-body">
            <ul class="list-content-with-icon-and-text arrow-list" id="news-list-content">
                <li>
                    <a href="/users/LonglivetheEU" data-pjax="#body" class="icon-container notify">
                        <img src="https://mii.olv.pretendo.cc/mii/1337825003/normal_face.png" class="icon">
                    </a>
                    <div class="body">
                        <p class="text"><span class="nick-name">Shutterbug</span> gave
                            <span class="link">your Comment(Testing...)</span> a Yeah.
                            <span class="timestamp"> 2 minutes ago</span>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="/users/navajocookie" data-pjax="#body"
                       class="icon-container notify">
                        <img src="https://mii.olv.pretendo.cc/mii/1213651904/normal_face.png" class="icon">
                    </a>
                    <div class="body">
                        <p class="text">Followed by <span class="nick-name">♪☆Peyton☆♪</span>, <span class="nick-name">Rocman X</span>,
                            and <span class="nick-name">Whissu2</span>. <span class="timestamp"> 3 minutes ago</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>