<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
    <script src="/js/juxt.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-279PNEDGEE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-279PNEDGEE');

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T9NZ7BK');</script>
    <!-- End Google Tag Manager -->
    </script>
</head>
<body>
<menu id="nav-bar" class="">
    <li id="nav-bar-profile" data-url="users/me" class="" onclick="loadTab(this)"><a>User Page</a></li>
    <li id="nav-bar-activity-feed" data-url="activity-feed" class="" onclick="loadTab(this)"><a>Activity Feed</a></li>
    <li id="nav-bar-communities" data-url="communities" class="selected" onclick="loadTab(this)"><a>Communities</a></li>
    <li id="nav-bar-messages" data-url="messages" class="" onclick="loadMessagesTab();"><a>Messages<span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-url="news" class="" onclick="loadTab(this)"><a>Notifications<span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" class="" onclick="exit()"><a href="">Close</a></li>
</menu>
<div id="main">
    <h1 class="page-header">All Communities</h1>
    <div class="search-container">
        <form>
            <div id="search-icon"></div>
            <input id="search-bar" onchange="searchCommunities()" onkeyup="searchCommunities()" type="text" placeholder="Search communities..." name="search">
        </form>
    </div>
    <div id="community-list" class="communities-wrapper">
        <table style="margin-top: 30px">
            <tbody>
            <tr>
                <% for(var i = 0; i < communities.length; i++) {%>
                    <td>
                        <div class="community-list-wrapper" onclick="loadCommunityPage('<%= communities[i].community_id %>')">
                            <img class="community-list-icon" src="<%= communities[i].browser_icon %>">
                            <h2 class="community-list-title"><%= communities[i].name %></h2>
                            <h4 class="community-list-followers"><%= communities[i].followers %> followers</h4>
                        </div>
                    </td>
                    <% if( (i + 1) % 3 === 0) { %>
            </tr>
            <tr>
                <% } %>
                <% } %>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<body onload="stopLoading()">
</body>
</html>